{% extends "base.html.twig" %}

{% block title %}
    SymReservation
{% endblock %}

{% block body %}

<div class="container">
  <div class="jumbotron mt-3">{#mt:margin top#}
        <h1 class="display-3">Bienvenue sur l'application de Gestion de Reservation</h1>
        <p class="lead">Reservation de Salle</p>
        <hr class="my-4">
        <p>Gerer les Reservations avec cette application.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">voir plus</a>
        </p>
    </div>
</div>
{% endblock %}