#newres ,#newclient,#editclient, #editres,#newsalle, #editsalle, #newus{
    background-color: rgba(230, 230, 244, 0.439);
    border-radius: 40px;
    margin: auto;
    position: relative;
}
#newus{
    background-color: rgba(230, 230, 244, 0.439);
    border-radius: 40px;
    margin: auto;
    position: relative;
}


td{
    font-size:15px;
}


