<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block css %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/app.css">
            <link rel="stylesheet" href="/DataTables/dataTables.bootstrap5.min.css">
            <link rel="stylesheet" href="/DataTables/fixedHeader.bootstrap.min.css">
            <link rel="stylesheet" href="/DataTables/responsive.bootstrap.min.css">
            <link rel="stylesheet" href="/css/all.min.css">
            <link rel="stylesheet" href="/css/all.css">
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" href="/datepicker/bootstrap-datepicker.min.css">
            <link rel="stylesheet" href="/css/_bootswatch.scss">
            <link rel="stylesheet" href="/css/_variables.scss">
            <link rel="stylesheet" href="/css/bootstrap-icons.css">
            <link rel="stylesheet" href="/css/styl.css">
            <link rel="stylesheet" href="/css/alert.css">

        {% endblock %}
        {#ce block est utiliser par toutes page qui herite base.html.twig#}
        {% block javascripts %}
            <script src="/js/jquery-3.5.1.js"></script>
            <script src="/DataTables/jquery.dataTables.min.js"></script>
            <script src="/DataTables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js"></script>
            <script src="/DataTables/dataTables.fixedHeader.min.js"></script>
            <script src="/DataTables/dataTables.responsive.min.js"></script>
            <script src="/DataTables/responsive.bootstrap.min.js"></script>
            <script src="/DataTables/moment.min.js"></script>
            <script src="/DataTables/datetime-moment.js"></script>
            <script src="/js/all.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/active.js"></script>
            <script src="/datepicker/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script>
                //ce script modifie les propriete du date picker en fr
                (function($){
                        $.fn.datepicker.dates['fr'] = {
                        days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                        daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                        daysMin: ["dim", "lun", "ma", "me", "jeu", "ven", "sam"],
                        months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                        monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                        today: "Aujourd'hui",
                        clear: "Effacer",
                        weekStart: 0,
                        format: "dd/mm/yyyy"
                        };
                        }(jQuery));
                        
                $(document).ready(function() {
                    $('#reservation_startDate, #reservation_endDate').datepicker({
                        isRTL: true,
                        autoclose: true, 
                        todayHighlight: true,
                        language: 'fr',
                        format: 'dd/mm/yyyy',
                        startDate: new Date()
                    });
                    
                        $('a').click((e)=>{ 
                            $('.active').removeClass('active'); 
                            $(e.currentTarget).addClass("active"); 
                        });
                });
            </script>

        {% endblock %}
    </head>

    <body>
        {% block header %}
            {{ include('partials/_header.html.twig') }}
        {% endblock %}
        
        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }} show">
                    {% if label == "success" %}
                        <span class="fas fa-check-circle" id="check"></span>
                    {% else %}
                        <span class="fas fa-exclamation-circle" id="exclamation"></span>
                    {% endif %}
                    {% for message in messages %}
                        <span class="msg" id="message">{{  message | raw }}</span>
                    {% endfor %}
                    <span class="close-btn">
                        <span class="fas fa-times" id="xclose"></span>
                    </span>
                </div>
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {#ce block sert a ajouter du script js dans les autre pages#}
        {% block js %}{% endblock %}
        <script>
                    setTimeout(function(){
                    $('.alert').addClass("hide");
                    $('.alert').removeClass("show");
                    },5000)//5000 === 5s auto-fermeture de l'alerte
                $('.close-btn').click(function(){
                    $('.alert').addClass("hide");
                    $('.alert').removeClass("show");
                })
                
        </script>
    </body>
</html>
